body {
  background: hsla(225, 10%, 10%, 0.1);
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 960px;
  height: 1200px;
  margin: auto;
  background: hsla(225, 50%, 50%, 0.2);
  border: 1px solid transparent;
}

h1 {
  text-align: center;
}

#next { display: none;}
.image { margin-left: 15%;}
.center { text-align: center;}
.comment { color: #eee; }
.white  { color: #fff; }
.firebrick { color: firebrick; }
.cornflowerblue { color: cornflowerblue; }


.code-style {
  padding: 0 5px;
  margin: 0 auto;
  border: 1px solid transparent;
  background: hsla(200, 10%, 10%, 0.8);
  color: #F57900;
  font-family: monospace;
  line-height: 1.5;
  font-size: 1rem;
}

.btn {  height: 50px; }

input[type="submit"] {
  padding: 0;
  display: inline-block;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  background-color: orange;
  margin-left: 36%;
  cursor: pointer;
  vertical-align: top;
}

.next-page {
  display: inline-block;
  height: 50px;
  /*width: 50px;*/
  margin-left: 15px;
  vertical-align: top;
}

.next-page > img {
  height: 50px;
}
